body {
font-family: 'Roboto', sans-serif;
font-weight: 800;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #E5E5E5;
text-align: center;
}
.logo {
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #4D5AE5;
text-transform: uppercase;
}
.logo-studio {
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #2E2F42;
text-transform: uppercase;
}
.logo-footer {
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #F4F4FD;
text-transform: uppercase;
}
.link {
text-decoration: none;
color: #2E2F42;
}
.link: focus {
color; #4D5AE5;
}
.link:hover {
color: #404BBF
}
.navigation {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-align: left;
}
.address {
font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
text-decoration: none;
font-style: normal;
text-align: left;
}
.hero {
background-color: #2E2F42;
text-align: left;
}

.button-order-service {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
}
.button-order-service:hover {
background-color: #404BBF;
}
.button-order-service:focus {
color: #4D5AE5;
}
.main-title {
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: #FFFFFF;
}
.section-one {
text-align: left;
}
.section-name {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;
letter-spacing: 0.02em;
}
.section-text {
font-family: Roboto, sans-serif;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
letter-spacing: 0.02em;
}
.section-title {
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
color: #2E2F42;
}
.footer {
background-color: #2E2F42;
text-align: left;
}
.footer-text {
font-family: 'Roboto', sens serif;
font-weight: 400;
font: size: 16px;
line-height: 1,5;
color: #E7E9FC;
text-transform: uppercase;
}
